@import "../../../../index";

.form {
  width: 100%;

  input,
  textarea {
    padding: 0.65rem;
    margin-bottom: 2rem;
    width: 45%;
    border: none;
    background: none;
    border-bottom: 1px solid rgba($color: #000000, $alpha: 0.5);
    font-size: 1rem;

    &::placeholder {
      opacity: 0.7;
    }

    &:focus-within {
      outline: none;
      border-width: 2px;
      border-color: $primaryColor;
    }
  }

  label {
    display: block;
    margin-bottom: 1rem;
  }

  .button {
    padding: 12px 15px;
    // border-radius: 15px;
    font-size: 1rem;
    transition: all 400ms;
    font-weight: 500;
    border: 2px solid $primaryColor;
    position: relative;

    // &:hover {
    //   background-color: $secondaryColor;
    //   color: black;
    // }

    .arrow {
      margin-left: 1rem;
    }
  }
}
