@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@300&family=Lora:wght@400;500;600;700&family=Open+Sans:wght@300;400;500;600&display=swap");
$primaryColor: #0c6748;
$secondaryColor: #21976f;
$accentColor: #4f2109;
$headingFont: "Lora";
$titleFont: "Lora";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

@mixin flexContainer($align, $justify, $direction) {
  display: flex;
  align-items: $align;
  justify-content: $justify;
  flex-direction: $direction;
}

body {
  background: #e0f0e3;
  font-family: $headingFont;
  @include flexContainer(center, center, row);
  // overflow-x: hidden;
  // border: 2px solid green;
}
