@import "../../../index";

.button {
  padding: 12px 15px;
  // border-radius: 15px;
  font-size: 1rem;
  transition: all 400ms;
  font-weight: 500;
  border: 2px solid $primaryColor;
  position: relative;

  // &:hover {
  //   background-color: $secondaryColor;
  //   color: black;
  // }

  .arrow {
    margin-left: 1rem;
  }
}

.talk {
  position: relative;
  top: -43px;
  left: 200px;
  margin-left: 2rem;
}

.circleBtn {
  border-radius: 50%;
  width: 40px;
  height: 40px;
  border: 2px solid #111111;
  background-color: transparent;
  color: #111111;
  white-space: wrap;
  text-transform: uppercase;
  cursor: pointer;
  margin-left: 1rem;
  font-size: 0.7rem;
  transition: all 400ms;
  position: relative;
  top: -3px;
  left: 0;
  z-index: 1;

  &:hover {
    scale: 1.5;
    background-color: whitesmoke;
    border: none;
  }
}

.hero-section {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  gap: 7rem;

  .hero-first-col {
    padding-left: 8rem;

    .hero-heading {
      margin-bottom: 1.5rem;
      font-size: 2.2rem;
      width: 70%;
    }

    .hero-sub-heading {
      margin-bottom: 1.5rem;
      line-height: 1.4;
      font-weight: 400;
      font-family: $titleFont;
    }
  }
}

.hero-section div {
  width: 50%;
}

.hero-image {
  width: 100px;
  height: 550px;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
  }
}

.hero-logo {
  padding: 0 4rem;

  ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;

    li {
      list-style-type: none;
      width: 120px;
      height: 100px;

      &:nth-of-type(2),
      &:nth-of-type(3) {
        width: 95px;
        height: 95px;
      }

      &:nth-of-type(4) {
        align-self: center;
        width: unset;
        height: unset;

        .logo {
          text-decoration: none;
          color: black;
          text-transform: uppercase;
          font-weight: 500;
          letter-spacing: 0.75px;
        }
      }

      .logo {
        img {
          width: 100%;
          height: 100%;
          object-fit: contain;
          object-position: center;
          filter: grayscale(100%);
          transition: all 800ms;

          &:hover {
            filter: grayscale(0%);
          }
        }
      }
    }
  }
}
.support {
  background-color: $primaryColor;
  height: 100%;
  padding: 3rem;
  color: white;

  .support-heading {
    margin-bottom: 2.5rem;
    font-size: 1.8rem;
  }

  .support-sub-heading {
    width: 60ch;
    margin: auto;
    line-height: 1.7;
    margin-bottom: 3rem;
    font-family: $titleFont;
  }

  div {
    text-align: center;

    .support-feature {
      width: 100%;
      padding: 2rem 2rem 0;

      ul {
        @include flexContainer(center, center, row);
        gap: 5rem;

        li {
          list-style-type: none;

          div {
            .feature {
              margin-bottom: 1rem;
              width: 24px;
              height: 24px;
            }

            p {
              font-size: 0.9rem;
            }
          }
        }
      }
    }
  }
}

.track {
  display: grid;
  grid-template-columns: repeat(3, auto);
  background-color: $secondaryColor;
  padding: 2rem 0;
  margin-top: 7rem;

  div {
    border-right: 3px solid white;
  }

  div:last-of-type {
    border: none;
  }

  div .count {
    font-size: 3.5rem;
  }

  div p:last-of-type {
    font-size: 1.1rem;
  }
}

.about {
  height: 100%;
  padding: 5rem;

  .wrapper {
    max-width: 1000px;
    margin: auto;
    @include flexContainer(center, center, row);
    gap: 5rem;

    .about-description {
      h1 {
        font-size: 2rem;
        margin-bottom: 2rem;
      }

      p {
        line-height: 1.7;
        font-weight: 400;
        margin-bottom: 2rem;
      }
    }
  }

  .about-image {
    width: 1400px;
    height: 400px;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
    }
  }
}

.services {
  background: $secondaryColor;
  color: white;
  padding: 3rem 4rem;

  .services-header {
    margin-bottom: 2.5rem;
    font-size: 1.2rem;
    @include flexContainer(center, space-between, row);

    .incentives {
      background-color: #111111;
      border: none;

      &:hover {
        color: white;
      }
    }
  }
}

.services-main {
  padding: 0rem 4rem;
  @include flexContainer(center, space-between, row);

  .serve {
    width: 40%;
  }

  .answer {
    line-height: 1.7;
    font-size: 0.9rem;
    margin: 0rem 0rem 2rem 2rem;
    display: none;
    transition: all 600ms ease-in-out;
    animation: slide-out 600ms forwards ease-in-out;

    &.active {
      display: block;
      animation: slide-in 600ms forwards;
    }
  }
}

.service {
  margin-bottom: 3rem;
}

.service-div {
  @include flexContainer(center, flex-start, row);
  gap: 1rem;
  margin-bottom: 2rem;
  cursor: pointer;

  .question {
    font-size: 1.3rem;
    font-weight: 500;
  }
}

.images {
  position: relative;
  display: grid;
  grid-template-columns: repeat(2, auto);
  gap: 1rem;

  .image {
    width: 200px;
    height: 200px;
    object-fit: cover;
    object-position: center;
  }
}

.trends {
  // height: calc(100vh + 3rem);
  // border: 1px solid pink;

  .trends-container {
    padding: 3rem 5rem;
    // border: 1px solid maroon;

    .trends-header {
      @include flexContainer(center, space-between, row);
      margin-bottom: 2rem;

      .see-more {
        @include flexContainer(center, center, row);
        gap: 1rem;
        top: 0px;
      }

      .NandE {
        font-size: 2rem;
      }
    }

    .trend-carousel {
      @include flexContainer(stretch, center, row);
      gap: 2.5rem;

      .news {
        width: 300px;

        .news-image {
          width: 300px;
          height: 280px;
          padding-bottom: 1rem;

          img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: center;
            margin-bottom: 1rem;
          }
        }

        .news-desc {
          margin-bottom: 2rem;

          h5 {
            margin-bottom: 1rem;
            font-size: 1rem;
          }

          p {
            line-height: 1.3;
          }
        }
      }
    }
  }
}

.event {
  position: relative;

  .event-desc {
    background-color: red;
    width: 80px;
    height: 70px;
    @include flexContainer(center, center, column);
    color: white;
    position: absolute;
    right: 20px;
    box-shadow: 1px 0px 2px #111111;

    .date {
      font-size: 2rem;
    }

    p:last-of-type {
      font-size: 0.9rem;
    }
  }
}

.quote {
  background-color: $primaryColor;
  padding: 2rem;
  color: white;
  font-size: 1.3rem;
  @include flexContainer(center, center, row);
  letter-spacing: 1px;
}

@keyframes slide-in {
  0% {
    opacity: 0;
    transform: translateY(-20%);
  }
  100% {
    opacity: 1;
    transform: translateY(0%);
  }
}

@keyframes slide-out {
  0% {
    opacity: 1;
    transform: translateY(0%);
  }
  100% {
    opacity: 0;
    transform: translateY(-20%);
  }
}
