.button {
  padding: 12px 16px;
}

.hero-section {
  display: flex;
}

.hero-image {
  width: 500px;
  height: 500px;

  img {
    width: 100%;
    object-fit: cover;
    object-position: center;
  }
}
