.memberBanner {
    height: 60vh;
    background: url(/assets/member-bg.png);
    color: white;
    display: flex;
    flex-direction: column;
    gap: 2em;
    justify-content: center;
    align-items: center;
    @media (max-width: 768px) {
        height: auto;
        padding: 2em 0 2em 0;
    }
    p {
        width: 60%;
        text-align: center;
        @media (max-width: 768px) {
            width: 90%;
        }
    }
}
.become {
    padding: 2em 0 2em 0;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1em;
    .how-left {
        display: flex;
        flex-direction: column;
        span {
            position: absolute;
            font-size: 6rem;
            font-weight: 700;
            color: #808080;
            right: 70%;
        }
    }
    .how-right {
        height: inherit;
        display: flex;
        flex-direction: column;
        align-content: space-between;
        gap: 2em;
        h4 {
            margin-bottom: 1em;
        }
        p {
            font-size: 0.9rem;
        }
    }
}
.vertical-line {
    width: 3px;
    background-color: black;
    height: 40vh;
    border-radius: 1px;
}
.circle {
    position: absolute;
    width: 15px;
    height: 15px;
    left: 46%;
    border-radius: 50%;
    background-color: black;
}
.section3 {
    padding: 2em 0 2em 0;
    background-color: #0c6748;
    color: white;
    h2 {
        text-align: center;
    }
    .whyContainer {
        padding: 2em 0 2em 0;
        display: flex;
        .whyLeft {
            width: 50%;
            display: flex;
            flex-direction: column;
            gap: 2em;
        }
        .whyRight {
            img {
                max-width: 70%;
            }
        }
    }
}
