@import "../../../../index";

button {
  border: 0;
  background-color: #0c6748;
  color: white;
  font-family: $titleFont;
  cursor: pointer;

  &:hover {
    border-radius: 25px;
    background-color: hsl(160, 80%, 27%);
  }
}
