@import "../../../index";

.members-header {
  background-image: url("../../assets/members(2).jpg");
  height: 400px; /* You must set a specified height */
  background-position: 0% 20%; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: 100%;
  @include flexContainer(center, center, column);

  .members-text {
    margin-bottom: 3rem;
    width: 600px;
    text-align: center;

    .member-form {
      @include flexContainer(center, center, row);
      width: 100%;

      input {
        padding: 1rem;
        border: 1px solid #ccc;
        width: 100%;
        font-size: 1rem;
      }

      .submit {
        padding: 1rem 0;
        margin-left: 1rem;
        font-size: 1rem;
        width: 200px;
      }
    }
  }

  h1 {
    color: #ffffff;
    font-size: 3.5rem;
    margin-bottom: 2.5rem;
  }
}

.members-body {
  margin-top: 2rem;

  .tags {
    @include flexContainer(center, center, row);
    gap: 1rem;
    font-size: 1rem;

    & > * {
      background-color: #ccc;
      padding: 10px;
      border-radius: 20px;
    }

    .tag {
      color: black;
      font-size: 1rem;
      transition: scale 400ms;

      &:hover {
        scale: 1.1;
      }

      &.active {
        background-color: $primaryColor;
        color: white;
        scale: 1.2;
      }
    }
  }

  .members-container {
    padding: 2rem 4rem;
  }
}

.individual-member {
  @include flexContainer(center, space-evenly, row);
  gap: 1rem;
  margin: 1rem 0;
  padding: 3rem 1rem;
  background-color: white;
  border-radius: 20px;
  cursor: pointer;
  transition: scale 400ms;

  &:hover {
    scale: 1.03;
  }

  .member-logo {
    width: 100px;
    height: 100px;
    object-fit: contain;
    object-position: center;
  }

  .member-name {
    font-size: 1.3rem;
    font-weight: 500;
    margin-bottom: 1rem;

    .member-address {
      font-size: 0.85rem;
      color: rgba($color: #000000, $alpha: 0.5);
    }
  }

  .member-desc {
    width: 40ch;
  }

  .icons {
    @include flexContainer(center, center, row);
    gap: 1rem;

    .member-social-icon {
      width: 23px;
      height: 23px;
    }

    .instagram {
      background: -webkit-radial-gradient(
        33% 100% circle,
        #fed373 4%,
        #f15245 30%,
        #d92e7f 62%,
        #9b36b7 85%,
        #515ecf
      );
      background: radial-gradient(
        circle at 33% 100%,
        #fed373 4%,
        #f15245 30%,
        #d92e7f 62%,
        #9b36b7 85%,
        #515ecf
      );
      background-clip: text;
      -webkit-background-clip: text;
      color: #d92e7f;
    }
  }
}
