@import "../../../index";

.container {
  @include flexContainer(center, space-between, row);
  // background: #ffffff;
  padding: 0rem 4rem;
  transition: background 0.5s ease;

  .navbar li {
    padding: 0.3rem;

    &:hover {
      border-bottom: 2px solid black;
    }
  }

  &.scrolled {
    position: sticky;
    top: 0;
    background-color: $primaryColor;
    color: #fff;
    z-index: 1;
  }

  .logo {
    width: 80px;
    height: 80px;
    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
      object-position: center;
    }
  }

  ul {
    @include flexContainer(center, space-between, row);
    gap: 1.6rem;
    li {
      list-style-type: none;
      font-size: 0.9rem;
      font-weight: 500;

      a {
        text-decoration: none;
        color: black;
        &.scrolledLink {
          color: #fff;
        }
      }
    }
  }
}

.dropdown {
  position: relative;
  display: inline-block;
  cursor: pointer;

  .dropdown-link {
    @include flexContainer(center, center, row);
    gap: 0.5rem;

    .icon {
      width: 12px;
      height: 12px;
    }
  }

  &:hover .dropdown-content {
    max-height: 250px;
  }

  .dropdown-content {
    position: absolute;
    background-color: #ffffff;
    min-width: 100%;
    max-height: 0;
    transition: max-height 800ms;
    overflow: hidden;
    margin-top: 1rem;
    white-space: nowrap;

    div {
      a {
        padding: 12px 10px;
        text-decoration: none;
        display: block;
        text-align: left;
        font-size: 0.9rem;

        &:hover {
          background-color: rgb(214, 241, 232);
        }
      }
    }
  }
}
